.trip{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 0 20px;
    justify-self: center;
    overflow: hidden;
}
.trip .trip-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.trip .trip-header .trip-header-left{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.trip .trip-header .trip-header-right button{
    padding: 5px 10px;
    border: 1px solid #8DD3BB;
    outline: 0;
    background: transparent;
}
.trip .trip-mid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}
.trip .trip-mid .trip-class{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    background: rgba(255,255,255,0.6);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(0,0,0,0.05);
}
.trip .trip-mid .trip-class .trip-image img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit:cover;
}
.trip .trip-mid .trip-class .trip-details{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.trip .trip-mid .trip-class .trip-details .trip-details-class{
    display: flex;
    flex-direction: row;
    gap: 6px;
} 
.trip .trip-mid .trip-class .trip-details .trip-details-class p{
    display: flex;
    align-items: center;
    gap: 6px;
}
.trip .trip-mid .trip-class .trip-details .trip-details-class span{
    height: 5px;
    width: 5px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 100px;
}
.trip .trip-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
.trip .trip-bottom .trip-bottom-left{
    position: relative;
}
.trip .trip-bottom .trip-bottom-left .trip-bottom-left-image{
    display: block;
    line-height: 0;
    position: relative;
}
.trip .trip-bottom .trip-bottom-left .trip-bottom-left-image img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 20px;    
}
.trip .trip-bottom .trip-bottom-left .trip-bottom-left-image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
    backdrop-filter: blur(0.1px);
    -webkit-backdrop-filter: blur(0.1px);
    pointer-events: none;
}
.trip .trip-bottom .trip-bottom-left .trip-bottom-left-details{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #FFFFFF;
}
.trip .trip-bottom .trip-bottom-left .trip-bottom-left-details button{
    width: 30%;
    padding: 10px;
    border: 0;
    outline: 0;
    background: #8DD3BB;
    align-self: center;
    border-radius: 5px;
    color: #112211;
}

.trip .trip-bottom .trip-bottom-right{
    position: relative;
}
.trip .trip-bottom .trip-bottom-right .trip-bottom-right-image{
    display: block;
    position: relative;
    line-height: 0;
}
.trip .trip-bottom .trip-bottom-right .trip-bottom-right-image img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}
.trip .trip-bottom .trip-bottom-right .trip-bottom-right-image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    backdrop-filter: blur(0.1px);
    -webkit-backdrop-filter: blur(0.1px);
    pointer-events: none;
}
.trip .trip-bottom .trip-bottom-right .trip-bottom-right-details{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #FFFFFF;
}
.trip .trip-bottom .trip-bottom-right .trip-bottom-right-details button{
    width: 30%;
    padding: 10px;
    border: 0;
    outline: 0;
    background: #8DD3BB;
    align-self: center;
    border-radius: 5px;
    color: #112211;
}

