@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FAFBFC;
    font-family: "Lora", serif;
    letter-spacing: 3px;
    word-spacing: 2px;
    line-height: 1.4em;
}
p{
    font-size: clamp(16px,16px,18px);
}
h1{
    font-family: "Playfair Display", serif;
    font-size: 60px;
    word-spacing: 10px;
    letter-spacing: 10px;
    line-height: 1.3em;
}
h2{
    font-family: "Playfair Display", serif;
    font-size: 30px;
    letter-spacing: 10px;
    line-height: 1.3em;
}
h3{
    font-family: "Playfair Display", serif;
    font-size: 20px;
}
h4{
    font-family: "Playfair Display", serif;
    font-size: 18px;
}
h5{
    font-family: "Playfair Display", serif;
    font-size: 16px;
}
h6{
    font-family: "Playfair Display", serif;
    font-size: 12px;
}
button{
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 500;
}